@charset "utf-8";

@font-face { font-family: 'Formal436'; font-display: swap; src: url(fonts/Formal436BT.ttf) format('truetype'); }

html { font-size: 10px; background: linear-gradient(135deg, #0d0400 25%, #000 25%, #000 50%, #0d0400 50%, #0d0400 75%, #000 75%, #000 100%); background-size: 10px 10px; background-color: #000; }
body { font-size: 1.2rem; font-family: 'Formal436', sans-serif; letter-spacing: 0.02em; line-height: 1.2; color: #fff; padding: 0px; margin: 0px; text-align: center; height: 100%; overflow: hidden; }

*, *:before, *:after { box-sizing: border-box; user-select: none; }

header { display: flex; height: 80px; position: fixed; width: 100%; top: 0px; left: 0px; padding: 10px 10px 0px 10px; }
header div { display: flex; flex-direction: column; align-items: center; justify-content: center; flex: 1; }
header h1 { font-size: 2rem; margin: 0px; margin-bottom: 10px; color: #c7b377; }
header p { margin: 0px; color: #ffa800; }

main { position: fixed; left: 0px; top: 80px; width: 100%; height: calc(100% - 80px); display: flex; align-items: center; justify-content: center; padding: 5px; }
section { width: 1600px; max-width: 100%; height: 1600px; max-height: 100%; margin: auto; display: flex; align-items: center; justify-content: center; flex-flow: row wrap; cursor: move; }
section > div { width: 50%; height: 50%; padding: 5px; display: flex; }
section .cn { flex: 1; background-color: #000; border: #333 solid 1px; border-radius: 5px; position: relative; overflow: hidden; }
section span { width: 1668px; height: 996px; display: block; position: absolute; left: 0px; top: 0px; pointer-events: none; }
section span img { width: 100%; height: 100%; transition: opacity 0.3s ease-out; opacity: 0; }
section span.smooth { transition: transform 0.05s ease-out; }
section u { position: absolute; right: 0px; top: 0px; z-index: 1; }
section u:after { content: '+'; position: absolute; right: 4px; top: 4px; color: #444; font-weight: bold; transition: all 0.15s ease-out; }
section u:hover:after { color: #fff; }
section select { font-family: inherit; font-size: 1.2rem; letter-spacing: 0.02em; line-height: 1; appearance: none; -webkit-appearance: none; padding: 6px 20px 5px 10px; border: #333 solid; border-width: 0px 0px 1px 1px; background-color: #000; color: #ffa800; border-radius: 0px 0px 0px 5px; outline: none; cursor: pointer; display: inline-block; vertical-align: top; }

section > div.loaded .cn:before { opacity: 0; }
section > div.loaded span img { opacity: 1; }
section .cn:before { content: ''; position: absolute; top: 50%; left: 50%; width: 30px; height: 30px; margin-top: -15px; margin-left: -15px; border-radius: 50%; border: solid 2px; border-color: #333 transparent #333 transparent; animation: spin 1s linear infinite; transition: opacity 0.2s ease-in-out; pointer-events: none; z-index: 2; opacity: 0; }
@keyframes spin { 100% { transform: rotate(360deg); } }

@media screen and (max-width: 460px), screen and (max-height: 460px) {

body { font-size: 1rem; }

header { height: 50px; padding: 5px 10px 0px 10px; }
header h1 { font-size: 1.1rem; margin-bottom: 5px; letter-spacing: -0.03em; }

main { top: 50px; height: calc(100% - 50px); padding: 0px; }
section { padding: 0px 5px 5px 5px; }
section span { width: 834px; height: 498px; }
section select { font-size: 1rem; letter-spacing: 0em; }

}
@media screen and (max-width: 350px), screen and (max-height: 350px) {

header { padding: 5px 5px 0px 5px; }
header h1 { font-size: 1rem; }

}